
.plekan-area{
  // -----------------------------------
  padding-top: 100px;
  .plekan-change-language{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 100px;
    padding: 20px 0;
    min-height: 74px;
    background-color: #fff;
    z-index: 11;
    border-bottom: 1px solid $borderColorLight;
    box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.1);
    span{
      float: left;
      margin-right: 10px;
      margin-top: 6px;
    }
    .plekan-open-translate-arena{
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -25px;
      margin-left: -25px;
      text-align: center;
      button{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border:1px solid $borderColorLight;
        background-color: #fff;
        outline: thick;
        font-size: 20px;
        color: $textColorDark;
        i{
        }
      }
    }
  }
  // -----------------------------------
  .plekan-translate-mode{
    width: 100%!important;
    padding-left: 100px;
    .plekan-translate-mode-column{
      width: 50%;
      float: left;
      padding: 10px;
    }
  }
  // 
  .plekan-row-list{
    padding: 10px;
    span.sortable-chosen,span.sortable-ghost{
      display: block;
      width: 100%;
      height: 40px;
      background: linear-gradient(270deg, $primaryColor, #3f702d, #76b91a, #3e5b6e);
      background-size: 800% 800%;
      animation: gradiendAnimation 30s ease infinite;
      margin: 10px 0;
      *{
        display: none;
        text-indent: -99999999px;
      }
    }

    &.empty{
      position: relative;
      padding: 40px;
      text-align: center;
      background-color: #ccc;
      background: linear-gradient(270deg, $primaryColor, #3f702d, #76b91a, #3e5b6e);
      background-size: 800% 800%;
      animation: gradiendAnimation 30s ease infinite;
      border-radius: 5px;
      &:after{
        content: "Preview Arena";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 25px;
        color: #FFF;
        font-weight: 100;
      }
      span.sortable-chosen,span.sortable-ghost{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        background-color: transparent!important;
        outline: 3px dotted $primaryColor;
        z-index: 12;
      }
      &.translate{
        &:after{
          content: "Translate";
        }
      }
    }
 
    .plekan-row-item{
      position: relative;
      margin-bottom: 10px;
      clear: both;
      margin: 40px 0;
      &:after,&:before{
        content: "";
        float: none;
        clear: both;
        display: table;
      }
      // background-color: #ccc;
      &:hover{
        .plekan-tools{
          display: block;
        }
      }
      .plekan-tools{
        position: absolute;
        width: 48px;
        left: -48px;
        display: none;
        top: -0px;
        // background-color: rgba(107, 105,164,.8);
        overflow: hidden;
        span{
          display: block;
          color: $textColorLight;
          width: 40px;
          height: 40px;
          text-align: center;
          margin-right: 10px;
          font-size: 16px;
          background-color: $primaryColor;
          cursor: pointer;
          i{
            line-height: 40px;
          }
          &:hover{
            opacity: .9;
          }
        }
      }
    }
  }
  .plekan-footer{
    margin-top: 20px;
  }
}
